/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar 
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.center {
  text-align: center;
  margin: 0 auto;
}

.positionCenter {
  margin: 0 auto;
}

.mcenter {
  margin: 0 auto;
}

.mt40 {
  margin-top: 40px;
}

.fs20 {
  font-size: 20px;
}

.w50 {
  width: 50%;
}
.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: lightBlue;
    height: 35px;
  }

  .alert {
    background-color: rgba(255, 0, 0, 0.699);
  }
}
/*ページネーション自体のデザイン*/
.paginationBar {
  margin: 0 auto;
}

.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

.none {
  display: none;
}

.donePlan {
  background-color: orangered;
}

.formLabel {
  margin-left: 25%;
  font-size: 30px;
  margin-bottom: 20px;
}

.formTextField {
  width: 50%;
  margin: 0 auto;
}

.w50 {
  width: 50%;
}

.ml30 {
  margin-left: 25%;
}

.fs30 {
  font-size: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

input[type="checkbox"] {
  display: none;
}

.label {
  display: block; /* ブロックレベル要素化する */

  margin: 5px; /* ラベル外側の余白を指定する */
  width: 60%; /* ラベルの横幅を指定する */
  height: 45px; /* ラベルの高さを指定する */
  text-align: center; /* テキストのセンタリングを指定する */
  margin: 0 auto;
  line-height: 45px; /* 行の高さを指定する */
  padding-left: 5px; /* ラベル内左側の余白を指定する */
  padding-right: 5px; /* ラベル内右側の余白を指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  color: #00b250; /* フォントの色を指定 */
  border: 2px solid #07fa07; /* ラベルの境界線を実線で指定する */
  border-radius: 5px; /* 角丸を指定する */
  margin-top: 30px;
  margin-bottom: 20px;
}

input[type="checkbox"]:checked + label {
  background: #a5fa36; /* マウス選択時の背景色を指定する */
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.label:hover {
  background-color: #e2edf9; /* マウスオーバー時の背景色を指定する */
}
