<div class='back'>
    <%=link_to '戻る', activities_path%>
</div>

<h1>編集</h1>

<%= render 'form', activity: @activity%>
<br>
<div class='center'>
    <%= link_to '削除する', activity_path, method: :delete, data:{confirm: '削除してよろしいですか？'}, class: 'btn btn-danger'%>
</div>